@import '../../../styles/settings.scss';

.tableCard__wrapper {
    position: relative;
   
}

.tableCard {
    display: flex;
    justify-content: space-between;
   
    padding: 15px 0;

    p { 
        padding-right: 15px;

    }

    ::after {
        position: absolute;
        content: '';
        bottom: 5px;
        left: 50%;
        width: 100%;
        height: 1px;
        transform: translateX(-50%);
        background: $color-faded;
    }
}

.tableData {
    display: flex;    
    
}

.button {
    background-color: $color-brand;
    border-radius: 5%;
    margin: 15px;
    color: $color-text-reverse;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    border: $color-brand;
    text-align: center;

    :hover {
         border-color: $color-brand;
         color: $color-brand;
    }

    .onClick {
        background-color: $color-brand;
        color: $color-text-reverse;
    }
}


