@import '../../../styles/settings.scss';

.tableCard__wrapper {
    position: relative;
   
}

.tableCard {
    display: flex;
    justify-content: space-between;
   
    padding: 15px 0;

    p { 
        padding-right: 15px;

    }

    ::after {
        position: absolute;
        content: '';
        bottom: 5px;
        left: 50%;
        width: 100%;
        height: 1px;
        transform: translateX(-50%);
        background: $color-faded;
    }
}

.tableData {
    display: flex;

   
    
    
}

